<h1>Epic cool form</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'sddds:process_symptoms' %}" method="post">
{% csrf_token %}
{% for i in categories %}
    <label>{{ i.category_name }}:</label><br>
    {% for j in i.symptom_set.all %}
        <input type="checkbox" name="slist[]" id="{{ i.category_name }}symptom{{ forloop.counter }}" value="{{ j }}">
        <label for="{{ i.category_name }}symptom{{ forloop.counter }}">{{ j }}</label><br>
    {% endfor %}
{% endfor %}
<input type="submit" value="Отправить">
</form>
