{% extends "SDDDS/base.html" %}

{% block title %}Symptoms{% endblock %}

{% block content %}
		<h1>Выбор симптомов</h1>

		<form action="{% url 'sddds:process_symptoms' %}" method="post">

			{% csrf_token %}
			<div class="scategories-block">
				{% for i in categories %}
					<details class="scategory">
						<summary class="h4">{{ i.category_name }}:</summary>
						<ul>
							{% for j in i.symptom_set.all %}
								<li>
										<input type="checkbox" name="slist" id="{{ i.category_name }}symptom{{ forloop.counter }}" value="{{ j }}">
										<label for="{{ i.category_name }}symptom{{ forloop.counter }}">{{ j }}</label>
								</li>
							{% endfor %}
						</ul>
					</details>
				{% endfor %}
			</div>
			<input type="submit" class="otprbtn" value="Отправить">

		</form>
		
{% endblock %}
